.filter-form {
  display: flex;

  &__input {
    flex-basis: 72%;
    margin: 0 25px 0 10px;
    padding: 6px;

    font-family: "Segoe UI", sans-serif;
    font-size: 16px;

    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }

  &__select {
    flex-basis: 20%;

    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
}
