.CurrentUser {
  &__title {
    font-size: 1rem;
    color: white;

    span {
      background-color: #4d457b;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__name {
    margin: 30px 0 10px;
    font-size: 1.5rem;
  }

  &__email,
  &__phone {
    color: #c4bdd9;
    text-align: center;
    margin: 5px;
  }

  &__clear {
    display: block;
    margin: 20px auto 0;
  }

  &__button {
    width: 130px;
    height: 40px;

    position: relative;
    left: 50%;
    top: 15px;

    transform: translateX(-50%);

    cursor: pointer;

    text-transform: uppercase;
    color: #fff;

    outline: none;

    border: 1px solid transparent;

    background: #4d457b;

    transition: background 0.3s ease-in;

    &:hover {

      background: #fff;

      border: 1px solid #4d457b;

      border-radius: 3px;

      color: #4d457b;
    }
  }
}
