.CurrentUser {
  &__title {
    font-size: 1rem;
    color: white;

    span {
      background-color: #4d457b;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__name {
    margin: 30px 0 10px;
    font-size: 1.5rem;
  }

  &__email,
  &__phone {
    color: #c4bdd9;
    text-align: center;
    margin: 5px;
  }

  &__clear {
    background-color: #4d457b;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 15px;
    display: block;
    width: 100px;
    margin: 20px auto 0;
  }
}
