.CurrentUser {
  &__title {
    font-size: 1rem;
    color: white;

    span {
      background-color: #4d457b;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__name {
    margin: 30px 0 10px;
    font-size: 1.5rem;
  }

  &__email,
  &__phone {
    color: #c4bdd9;
    text-align: center;
    margin: 5px;
  }

  &__clear {
    display: block;
    margin: 20px auto 0;
    border: 2px solid #4d457b;
    background-color: #c4bdd9;
    color: #4d457b;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #4d457b;
      color: #c4bdd9;
      border: 2px solid #4d457b;
    }
  }

}
