.CurrentUser {
  &__title {
    font-size: 1rem;
    color: white;

    span {
      background-color: #4d457b;
      padding: 5px;
      border-radius: 5px;
    }
  }

  &__name {
    margin: 20px 0 10px;
    font-size: 1.5rem;
  }

  &__email,
  &__phone {
    color: #c4bdd9;
    text-align: center;
    margin: 5px;
  }

  &__clear {
    display: block;
    margin: 20px auto 0;

    font-size: 1rem;
    color: white;
    background-color: #4d457b;
    border-radius: 5px
  }
}

.CurrentUser {
  &__clear {
    display: block;
    margin: 20px auto 0;

    border: none;
    font-size: 1rem;
    color: white;
    background-color: #4d457b;
    border-radius: 5px
  }
}

.CurrentUser__clear:hover {
  background-color: rgb(163, 47, 27);
}