.randomizer {
  &__button {
    width: 100px;
    height: 30px;
    outline: none;
    background-color: rgba(124, 124, 223, 0.4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    color:#fff;
    font-weight: bold;

    &:hover {
      background-color: rgb(124, 124, 223)
    }
  }
}
