.table {
  display: inline-block;
}

.table__header {
  font-weight: 600;
  font-size: 22px;
  background-color: #ccc;
}

.table__button {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  transition: 0.2s;
}

.table__button:hover {
  color: #202020;
}

td {
  border: 1px solid #000;
  padding: 10px;
}
