.todo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  justify-content: center;
}

.btn-completed {
  margin-bottom: 10px;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.btn-completed:hover {
  cursor: pointer;
  background-color: #005000;
}
