.TodoList {
  width: 100%;

  &__select {
    display: block;
    margin: 0 auto 8px;
    width: 100px;
    border: 1px solid #4d457b;
    border-radius: 2px;
  }

  &__input {
    display: block;
    margin: 0 auto 8px;
    width: 200px;
    border: 1px solid #4d457b;
    border-radius: 2px;
  }

  &__button {
    display: block;
    width: 200px;
    margin: 0 auto;
  }

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}
