$second-color: #4d457b;

.TodoList {
  width: 100%;

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__input {
    border: 1px solid $second-color;
    border-radius: 4px;
    padding: 4px;
    margin-left: 10px;
  }

  &__user-button--selected {
    background-color: $second-color;
    color: $second-color;

    &::before {
      content: "Selected";
      right: 70px;
      color: #cde4e4;
    }
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}
