.TodoList {
  width: 100%;

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }

  &__input {
    margin-right: 150px;
    font-size: 20px;
    border: 2px solid rgb(172, 160, 160);
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }

  &__select {
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(172, 160, 160);
    background-color: rgb(241, 215, 159);
    transition: background-color 0.5s;

    &:focus {
      cursor: pointer;
      outline: none;
      background-color: rgb(221, 210, 185);
    }
  }
}
