.TodoList {
  width: 100%;

  &__inputs {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px;
    font-weight: 600;
  }

  &__input {
    margin-right: 50px;
  }

  &__user-button--selected {
    background-color: #4d457b;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}
