.TodoList {
  width: 100%;

  &__user-button {
    outline: none;

    background-color: #7064b3;
    border: 1px solid #7064b3;

    height: 30px;
    width: 80px;

    color: white;

    cursor: pointer;
  }

  &__user-button--selected {
    outline: none;

    background-color: #4d457b;
    border: 1px solid #4d457b;
    color: white;

    height: 30px;
    width: 80px;

    cursor: pointer;
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
  }

  &__item--checked {
    background-color: #cde4e4;
    color: #459595;
  }

  &__item--unchecked {
    background-color: #ffe0db;
    color: #ff3626;
  }
}
