.sorting-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  &__input {
    font-size: 18px;
    color: inherit;
    cursor: pointer;
    width: 40%;
    min-width: 300px;
    border: none;
    border-bottom: 2px solid #4d457b;
    outline: none;
    padding: 10px 0 3px 5px;
    margin-right: 15px;
    transition: all 0.4s;

    &::placeholder {
      font-size: inherit;
    }

    &:hover,
    &:focus {
      background-color: #4d457b07;
      border-radius: 5px;
    }
  }

  &__footer {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__select {
    outline: none;
    margin-right: 10px;
  }

  &__button--active {
    background-color: #4d457b;
  }
}
