*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
