.todolist {

}

.todolist-table-headline {
  display: grid;
  grid-template-columns: 300px 500px;
  text-align: center;

}

.todolist-table {
  display: grid;
  grid-template-columns: 300px 500px ;
  grid-template-rows: 50px;
  justify-items: left;
  border: 1px solid #a3a3a3;
 }

.td-headline {
  display: inline-block;
  font-size: 25px;
  margin: 15px;

}


.td-user-component {

}

.td-todoItem-component {

}
