table {
    border-collapse: collapse;
}

th,td {
    border: 1px solid #2a373e;
    padding: 5px;
}

.load-btn {
    padding: 20px;
    width: 300px;
    height: 200px;
    font-size: 32px;
    margin-top: 20px;
}

.Completed {
    background: mediumseagreen;
}

.In-process {
    background: red;
}