table {
  margin: 50px auto;
  border-collapse: collapse;
}

tbody {
  text-align:center;
  border: 1px solid black;
}

th {
  text-align:center;
  border: 1px solid black;
}

td {
  text-align:center;
  border: 1px solid black;
}
