.todo-item {
  margin: 20px auto;
  padding: 10px;
  width: 550px;
  background-color: #aaa;
  border: 1px solid black;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 300px 50px 150px;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.todo-title {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}