* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.nav {
  display: flex;
  width: 200px;
  justify-content: space-between;

  &__link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  .is-active {
    color: red;
  }
}


