.table {
  background-color: #abdbab;
}

.table__thead {
  background-color: darkkhaki;
}

.table__item {
  padding: 5px 0;
  border: 2px solid white;
}

.table__thead .table__item:hover {
  cursor: pointer;
}
